/* :root {
  margin: 0;
  padding: 0;
} */

:root.dark {
  --background-color: black;
  --theme-color: #c63c54;
  --form-background: black;
  --form-border: 1px solid #635f5f;
  --text-color: white;
}

:root.light {
  --background-color: white;
  --theme-color: #c63c54;
  --form-background: #c63c54;
  --form-border: 1px solid #635f5f;
  --text-color: black;
}

body {
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}

.banner,
.header,
.form,
.footer {
  background-color: steelblue;
  border: 1px solid green;
}

.banner {
  grid-row: 1 / 4;
  background-image: url("assests/hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  /* width: calc((100vw / 9) * 3); */
  background-position: center;
}
