/* :root {
  margin: 0;
  padding: 0;
} */

:root.Dark {
  --background-color: black;
  --theme-color: #c63c54;
  --form-background: black;
  --form-border: #635f5f;
  --form-text-color: white;
  --text-color: white;
}

:root.Light {
  --background-color: white;
  --theme-color: #c63c54;
  --form-background: #c63c54;
  --form-border: #635f5f;
  --form-text-color: white;
  --text-color: black;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 99vh;
  width: 99vw;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

.banner {
  grid-row: 1 / 4;
  background-image: url("assets/hero.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  /* width: calc((100vw / 9) * 3); */
  background-position: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  width: 90%;
  font-size: 18px;
}

.form {
  background-color: var(--form-background);
  color: var(--form-text-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
}

input,
label {
  display: block;
}

label {
  font-size: 12px;
}

input[type="text"] {
  margin-top: 1%;
  width: 80%;
  height: 22px;
  background-color: var(--background-color);
  border: 1px solid var(--form-border);
  color: var(--text-color);
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid var(--theme-color);
}

.form-text {
  width: 90%;
}

.submit {
  margin-top: 4%;
  margin-left: 4%;
  width: 200px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid var(--theme-color);
  color: var(--theme-color);
  font-size: 18px;
  font-weight: bold;
}

.submit:hover,
.theme-toggle:hover {
  background-color: var(--theme-color);
  color: white;
}

.footer-text {
  margin-top: 2%;
  margin-left: 4%;
  color: var(--text-color);
}

.footer-text-login {
  color: var(--theme-color);
  font-weight: bold;
  text-decoration: none;
}

.footer-text-login:hover {
  color: var(--text-color);
}

.theme-toggle {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 70px;
  height: 30px;
  background-color: var(--background-color);
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
  }

  .banner {
    height: 50vh;
    background-position: 50% 35%;
  }
}
